/dspic_src/nbproject/
/dspic_src/dist/
/dspic_src/build/
/dspic_src/debug/
/dspic_src/mcc_generated_files/docs/
/dspic_src/.generated_files/
/dspic_src/Makefile
/dspic_src/mcc-manifest*
/dspic_src/defmplabxtrace*
/dspic_bootloader/nbproject/
/dspic_bootloader/dist/
/dspic_bootloader/build/
/dspic_bootloader/debug/
/dspic_bootloader/mcc_generated_files/docs/
/dspic_bootloader/.generated_files/
/dspic_bootloader/Makefile
/dspic_bootloader/mcc-manifest*
/dspic_bootloader/defmplabxtrace*
/esp_src/build/
