/dspic_src/nbproject/
/dspic_src/dist/
/dspic_src/build/
/dspic_src/debug/
/dspic_src/mcc_generated_files/docs/
/dspic_src/.generated_files/
/dspic_src/Makefile
/nbproject/
/dist/
/build/
/debug/
/mcc_generated_files/docs/
/.generated_files/
/Makefile